<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>
  <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<div style="display: flex;height: 83px;">
    <a href="/"><img src="https://ifh.cc/g/VsH2l1.png"></a>
    {% if user.is_authenticated %}
    <a class="nav-link" href="/logout" style="font-size: 20px;font-weight: 500;margin-top: 30px;margin-bottom: 25px;color: #000000;text-decoration: none;">{{ user.username }} (로그아웃)</a>
    {% else %}
    <a style="font-size: 20px;font-weight: 500;margin-top: 30px;margin-bottom: 25px;color: #000000;text-decoration: none;" href="/login/">로그인</a>
    {% endif %}
    <a style="font-size: 20px;font-weight: 500;margin-top: 30px;margin-bottom: 25px;color: #000000;text-decoration: none;margin-left: 20px;" href="/ghldnjs">회원가입</a>
    <a style="font-size: 20px;font-weight: 500;height: 30;margin-top: 27px;margin-left: 800px;color: #000000;text-decoration: none;" href="/nqf">새글등록</a>
    <input type="text" style="margin-top: 27px;margin-bottom: 27px;margin-left: 15px;" id='h'>
    <button style="margin-top: 27px;margin-bottom: 27px;" onclick="location.href='./q/'+document.getElementById('h').value">
    <img src="https://cdn-icons-png.flaticon.com/512/149/149852.png" style="width: 20px;">
    </button>
</div>
<form action="/nq" method="post" style="width: 100%;height: 100%;">
    {% csrf_token %}
    <textarea name='s' id='s' style="width: 500;height: 50;">제목</textarea>
    <br>
    <textarea name='sc' id='sc' style="width: 500;height: 50;">분류(ex:대수학)</textarea>
    <br>
    <textarea name='c' id='c' style="width: 500;height: 300;">내용</textarea>
    <br>
    <input type="submit" value="등록" style="width: 500;height: 50;">
</form>